.card {
   margin-bottom: 30px;
  
}

.fa-heart  {
   
   background-color: transparent;
   border: transparent;
   //position: absolute;
   //z-index: 2;
   //color:blanchedalmond;
   //position: absolute;
}
.fa-heart:hover {
   color: red;
   cursor: pointer;
   
}
.card-img-top {
    margin-top: -20px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    max-height: 250px;
    max-width: 200px;
    cursor: pointer;
}
.like-button {
   position: absolute;
   //z-index: 2;
   color: black;
   font-size: 25px;
  text-align: right;
   cursor: pointer;
   border-radius: 10rem;
   background-color: transparent;
   border: transparent;
   width: 99%;
   padding-right: 10px;
   padding-top: -30px;
   }
   
   .like-button :hover {
   color: red;
   }